<form class="form-inline">
  <div class="form-group">
    <div class="btn-group" role="group" style="margin-left: 10px;">   
      <button type="button" data-toggle="modal" data-target="#verificationModal" id="newVerify" class="btn btn-sm btn-info">添加</button>
    </div>
  </div>
</form>
<div id="verificationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <!-- title -->
          <h5 class="modal-title">添加验证</h5>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <!-- content -->
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">名字(name)</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-sm" id="inputName">
                </div>
              </div>
              <div class="form-group">
                <label for="inputContent" class="col-sm-3 control-label">内容(content)</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-sm" id="inputContent">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <!-- button -->
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button><button type="button" id="saveVerification" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="manage-table">
  <table class="table">
  	<caption>网站验证</caption>
    <thead>
      <tr>
        <th><a>全选</a></th>
        <th>名字(name)</th>
        <th>内容(content)</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{range .SiteVerify}}
      <tr>
        <th scope="row"><input id="{{.Name}}" type="checkbox"></th>
        <td>{{.Name}}</td>
        <td>{{.Content}}</td>
        <td>{{dateformat .CreateTime "2006-01-02 15:04"}}</td>
        <td>
          <button type="button" class="btn btn-warning btn-xs deleteVerify">删除</button>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <script>
    $('.deleteVerify').on('click', function(){
      var node = $(this).parent().parent()
      var id = node.find('th input').attr('id');
      if (id==""){pushMessage('info', '对不起|系统错误。');return;}
      if (!confirm('确定要删除该验证吗？')){return;}
      var resp = get('post', location.pathname, {flag:'deleteverify', name:id}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      pushMessage('success', '恭喜|操作成功。');
      node.remove();
    });
    $('#saveVerification').on('click', function(){
      var name = $('#inputName').val();
      var content = $('#inputContent').val();
      if (name==""||content==""){
        pushMessage('info', '错误|参数错误。')
        return;
      }
      var resp = get('post', location.pathname, {flag:'addverify', name:name, content:content}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      location.reload();
    });
  </script>
</div>
<div class="manage-table">
  <caption>SiteMap更新, 每12小时自动更新(可手动更新)</caption>
  <textarea class="form-control" id="sitemapContent" rows="10"></textarea>
  <button type="button" class="btn btn-info btn-xs right" id="updateSitemap">更新</button>
  <script>
    $(function(){
      var resp = get('post', location.pathname, {flag:"getsitemap"}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      $('#sitemapContent').val(resp.Data);
    });
    $('#updateSitemap').on('click', function(){
      var content = $('#sitemapContent').val();
      if (content==""){
        pushMessage('info','错误|参数错误。');
        return;
      }
      var resp = get('post', location.pathname, {flag:'updatesitemap', content:content}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      console.log(success)
      pushMessage('success', '恭喜|操作成功。');
    });
  </script>
</div>
