
    <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 201x</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{.__theme__}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{.__theme__}}js/bootstrap.min.js"></script>

</body>

</html>
