<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{if .title}}{{.title}}-{{end}}{{.site_name}}</title>
    <meta name="keyword" content="{{.keyword}}"/>
    <meta name="description" content="{{.description}}"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/uno/style.css"/>
    <link rel="stylesheet" href="/static/uno/prism.css"/>
</head>
<body>