{{template "blog/header.html" .}}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->
                {{range .data.Data}}
                <div>
                <!-- Title -->
                    <a href="/article/{{.Id}}">
                <h1>{{.Title}}</h1>
                    </a>
                <!-- Author -->
                <p class="lead">
                    by <a href="#">风.fox</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{dateformat .TimeAdd "2006-01-02 15:04:05"}}</p>
                    {{.Content}}
                    <hr>
                </div>
                {{end}}
                <div id="page">
                    <ul class="pagination" id="pageUl">
                    </ul>
                </div>
            </div>

            {{template "blog/right.html" .}}

        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->
{{template "blog/footer.html" .}}
<script src="{{.__static__}}plugin/bootstrap-paginator.js"></script>
<script>
    $(function () {
        $("#pageUl").bootstrapPaginator({
            currentPage: '{{.data.PageNo}}',
            totalPages: '{{.data.TotalPage}}',
            bootstrapMajorVersion: 3,
            size: "small",
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            onPageClicked: function(e,originalEvent,type,page){
                window.location.href = "?page=" + page
            }
        });
    });
</script>
</body>
</html>