{{template "blog/header.html" .}}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->
                {{range .data}}
                <div>
                <!-- Title -->
                    <a href="/article/{{.Id}}">
                <h1>{{.Title}}</h1>
                    </a>
                <!-- Author -->
                <p class="lead">
                    by <a href="#">风.fox</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{dateformat .TimeAdd "2006-01-02 15:04:05"}}</p>
                    {{.Content}}
                    <hr>
                </div>
                {{end}}
            </div>

            {{template "blog/right.html" .}}

        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->
{{template "blog/footer.html" .}}