{{template "blog/header.html" .}}
{{template "blog/left.html" .}}
<section id="main" class="index" style="display: block">
    <div class="container">
        <div id="article-list">
            {{range .data.Data}}
            <article class="article">
                <div class="row">
                    <header class="header">
                        <h3 class="title">
                            <a href="/article/{{.Blog.BlogId}}">{{.Title}}</a>
                        </h3>
                    </header>
                    <section class="brief">
                        {{.Content}}
                    </section>
                    <aside class="aside clearfix">
                        <span class="date">
                            <span class="year">{{dateformat .TimeAdd "2006"}}</span>/
                            <span class="month">{{dateformat .TimeAdd "01"}}</span>/
                            <span class="day">{{dateformat .TimeAdd "02"}}</span>
                        </span>
                        <a class="day"><i class="fa fa-comments-o"></i> {{.Comment}}</a>
                        <a class="day"><i class="fa fa-eye"></i> {{.BlogStatistics.Read}}</a>
                        <a class="author">{{.Author}}</a>
                        <span class="tags">
                            {{range $i,$v:=.Tags}}
                            <a class="tag" href="/tag/{{$v}}">{{$v}}</a>
                             {{end}}
                        </span>
                        <a class="btn btn-primary btn-lg pull-right" href="/article/{{.Blog.BlogId}}">详情</a>
                    </aside>
                </div>
            </article>
            {{end}}
            <div class="article-pager">
                <span class="current">Page 1 of 1</span>
            </div>

        </div>
        {{template "blog/footer.html" .}}
    </div>
</section>
{{template "blog/footer_js.html" .}}
</body>
</html>
