{{template "admin/public/header.html" .}}
    <div class="wrapper wrapper-content">
                <form action="/admin/blog{{if .is_put}}/{{.info.Blog.BlogId}}{{end}}" method="post" class="form-horizontal" id="thatForm">
                    <input type="hidden" name="_method" value="{{._method}}" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Markdown编辑器</h5>
                                <div class="ibox-tools">
                                    <span class="c_type">
                                        <input class="i-checks" type="radio" name="module_id" value="10019" {{if ne .info.ModuleId 10018 }}checked{{end}}>技术
                                        <input class="i-checks"  type="radio" name="module_id" value="10018" {{if eq .info.ModuleId 10018}}checked{{end}}>技术之外(生活)
                                    </span>
                                    |
                                    <span class="c_is_read">
                                        <input class="i-checks" type="radio" name="is_read" value="10014" {{if eq .info.IsRead 10014 }}checked{{end}}>未看
                                        <input class="i-checks"  type="radio" name="is_read" value="10015" {{if eq .info.IsRead 10015}}checked{{end}}>在看
                                        <input class="i-checks"  type="radio" name="is_read" value="10016" {{if eq .info.IsRead 10016}}checked{{end}}>已看
                                    </span>
                                    |
                                    <span class="c_type_id">
                                        <input class="i-checks" type="radio" name="type_id" value="10003" {{if eq .info.TypeId 10003 }}checked{{end}}>原创
                                        <input class="i-checks"  type="radio" name="type_id" value="10004" {{if eq .info.TypeId 10004}}checked{{end}}>翻译
                                        <input class="i-checks"  type="radio" name="type_id" value="10005" {{if eq .info.TypeId 10005}}checked{{end}}>转载
                                    </span>
                                    |
                                    <button class="btn btn-primary btn-xs saveRelease" type="button">保存发布</button>
                                    <button class="btn btn-white btn-xs" type="reset">取消</button>
                                    <button class="btn btn-success btn-xs save" type="button">保存草稿</button>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="form_editors.html#">
                                        <i class="fa fa-wrench"></i>更多
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a>选项2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="input-group">
                                    <input type="text" placeholder="标题" name="title" class="form-control input-lg" value="{{.info.Title}}" id="title">
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-default check_title" type="button">
                                            检测重复
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group" style="width: 100%">
                                    <input type="text" name="tag" value="{{.info.Tag}}" data-role="tagsinput" placeholder="TAGS" id="tag"/>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-content" aria-expanded="true"> 内容</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-status" aria-expanded="false">基本</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-url" aria-expanded="false">类型</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-seo" aria-expanded="false">摘要 & SEO</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-statistics" aria-expanded="false">统计</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-remark" aria-expanded="false">备注</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-blog" aria-expanded="false">同步其他博客</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-content" class="tab-pane active">
                                            <!--<div class="panel-body">-->
                                                <!--<button class="btn btn-info upload_image" type="button"><i class="fa fa-image"></i> 图片上传</button>-->
                                                <!--<button class="btn btn-info upload_file" type="button"><i class="fa fa-file"></i> 文件上传</button>-->
                                            <!--</div>-->

                                            <div class="panel-body" id="content_div">
                                                <textarea name="content" id="content"  rows="30">{{.info.Content}}</textarea>
                                            </div>
                                        </div>
                                        <div id="tab-status" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group c_status">
                                                    <label class="col-sm-2 control-label">状态</label>

                                                    <div class="col-sm-10">
                                                        <label class="checkbox-inline i-checks">
                                                            <input type="radio" name="status" value="0" {{if eq .info.Status 0}}checked{{end}}>草稿
                                                        </label>
                                                        <label class="checkbox-inline i-checks">
                                                            <input type="radio" name="status" value="99" {{if eq .info.Status 99}}checked{{end}}>发布
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">允许评论
                                                    </label>

                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_comment" value="1" id="is_comment" {{if eq .info.IsComment 1}}checked{{end}}>
                                                                <label class="onoffswitch-label" for="is_comment">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">启用
                                                    </label>

                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_open" value="1" id="is_open" {{if eq .info.IsOpen 1}}checked{{end}}>
                                                                <label class="onoffswitch-label" for="is_open">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">删除
                                                    </label>

                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_del" value="1" id="is_del" {{if eq .info.IsDel 1}}checked{{end}}>
                                                                <label class="onoffswitch-label" for="is_del">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">时间
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <input class="form-control layer-date" placeholder="YYYY-MM-DD hh:mm:ss" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="time_add" value="{{.TimeAdd}}">
                                                            <label class="laydate-icon"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">更新时间
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            {{dateformat .info.TimeUpdate "2006-01-02 15:04:05"}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">缩略图
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <input type="text" class="form-control" name="thumb" value="{{.info.Thumb}}" id="thumb">
                                                            <button class="btn btn-info upload_image" type="button" data-name="thumb"><i class="fa fa-image"></i> 图片上传</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">排序
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="sort" value="{{.info.Sort}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                            </div>
                                        </div>
                                        <div id="tab-url" class="tab-pane">
                                            <div class="panel-body">
                                                <!--<div class="form-group">-->
                                                    <!--<label class="col-sm-2 control-label">类别</label>-->
                                                    <!--<div class="col-sm-10">-->

                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="hr-line-dashed"></div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<label class="col-sm-2 control-label">分类-->
                                                    <!--</label>-->
                                                    <!--<div class="col-sm-10">-->
                                                        <!--<select class="form-control m-b" name="account">-->
                                                            <!--<option>选项 1</option>-->
                                                            <!--<option>选项 2</option>-->
                                                            <!--<option>选项 3</option>-->
                                                            <!--<option>选项 4</option>-->
                                                        <!--</select>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="hr-line-dashed"></div>-->
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">作者
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="author" value="{{.info.Author}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">来源
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="url_source" value="{{.info.UrlSource}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">跳转
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_jump" value="1" id="is_jump" {{if eq .info.IsJump 1}}checked{{end}}>
                                                                <label class="onoffswitch-label" for="is_jump">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">url
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="url" value="{{.info.Url}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">自定义伪静态
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="url_rewrite" value="{{.info.UrlRewrite}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-seo" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">摘要：<br/>
<button class="btn btn-primary btn-xs descriptionCut" type="button"><i class="fa fa-paste">获取摘要</i>
                                                        </button>
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <textarea id="description" name="description" class="form-control" style="min-height: 200px">{{.info.Description}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">SEO标题
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="seo_title" value="{{.info.SeoTitle}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">SEO关键词
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <textarea id="seo_keyword" name="seo_keyword" class="form-control" >{{.info.SeoKeyword}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">SEO摘要
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <textarea id="seo_description" name="seo_description" class="form-control" style="min-height: 100px">{{.info.SeoDescription}}</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-statistics" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">评论数</label>
                                                    <div class="col-sm-10">
                                                        {{.info.Comment}}
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">浏览数</label>
                                                    <div class="col-sm-10">
                                                        {{.info.BlogStatistics.Read}}
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                            </div>

                                        </div>
                                        <div id="tab-remark" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">备注：</label>
                                                    <div class="col-sm-10">
                                                        <textarea name="remark" class="form-control" style="min-height: 200px">{{.info.Remark}}</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-blog" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">CSDN</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group col-sm-2">
                                                            <input type="text" class="form-control" name="id" value="{{.app_csdn_id}}" placeholder="csdn 文章ID" id="sync_{{.Type_id}}">
                                                            <div class="input-group-btn">
                                                                <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">操作 <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li><a href="javascript:void(0);" class="get" data-type_id="{{.Type_id}}">获取</a>
                                                                    </li>
                                                                    <li><a href="javascript:void(0);" class="create" data-type_id="{{.Type_id}}">创建</a>
                                                                    </li>
                                                                    <li><a href="javascript:void(0);" class="update" data-type_id="{{.Type_id}}">更新</a>
                                                                    </li>
                                                                    <li class="divider"></li>
                                                                    <li><a href="javascript:void(0);">选项4</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
    </div>
{{template "admin/public/footer.html" .}}
{{template "admin/blog/get_body_end.html" .}}
</body>
</html>