{{template "admin/public/header.html" .}}
    <div class="wrapper wrapper-content">
                <form action="/admin/blog{{if .is_put}}/{{.info.Id}}{{end}}" method="post" class="form-horizontal" id="thatForm">
                    <input type="hidden" name="_method" value="{{._method}}" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Markdown文本编辑器</h5>
                                <div class="ibox-tools">
                                    <button class="btn btn-primary btn-xs saveRelease" type="submit">保存发布</button>
                                    <button class="btn btn-white btn-xs" type="reset">取消</button>
                                    <button class="btn btn-success btn-xs save" type="submit">保存草稿</button>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="form_editors.html#">
                                        <i class="fa fa-wrench"></i>更多
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a>选项2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="input-group">
                                    <input type="text" placeholder="标题" name="title" class="form-control input-lg" value="{{.info.Title}}" id="title">
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-default check_title" type="button">
                                            检测重复
                                        </button>
                                    </div>
                                </div>
                                <div class="input-group" style="width: 100%">
                                    <input type="text" name="tag" value="{{.info.Tag}}" data-role="tagsinput" placeholder="TAGS" id="tag"/>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-content" aria-expanded="true"> 内容</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-status" aria-expanded="false">基本</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-seo" aria-expanded="false">摘要 & SEO</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-statistics" aria-expanded="false">统计</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-remark" aria-expanded="false">备注</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-content" class="tab-pane active">
                                            <div class="panel-body">
                                                <button class="btn btn-info upload_image" type="button"><i class="fa fa-image"></i> 图片上传</button>
                                                <button class="btn btn-info upload_file" type="button"><i class="fa fa-file"></i> 文件上传</button>
                                            </div>

                                            <div class="panel-body">
                                                <textarea name="content" id="content" data-provide="markdown" rows="30">{{.info.Content}}</textarea>
                                            </div>
                                        </div>
                                        <div id="tab-status" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group c_status">
                                                    <label class="col-sm-2 control-label">状态</label>

                                                    <div class="col-sm-10">
                                                        <label class="checkbox-inline i-checks">
                                                            <input type="radio" name="status" value="0">草稿
                                                        </label>
                                                        <label class="checkbox-inline i-checks">
                                                            <input type="radio" name="status" value="99" checked>发布
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">允许评论
                                                    </label>

                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_comment" value="1" id="is_comment">
                                                                <label class="onoffswitch-label" for="is_comment">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">启用
                                                    </label>

                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_open" value="1" checked id="is_open">
                                                                <label class="onoffswitch-label" for="is_open">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">删除
                                                    </label>

                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_del" value="1" id="is_del">
                                                                <label class="onoffswitch-label" for="is_del">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">时间
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <input class="form-control layer-date" placeholder="YYYY-MM-DD hh:mm:ss" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="time_add" value="{{.TimeAdd}}">
                                                            <label class="laydate-icon"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">更新时间
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            {{.info.TimeUpdate}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">作者
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="author" value="{{.info.Author}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">来源
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="url_source" value="{{.info.UrlSource}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">跳转
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_jump" value="1" id="is_jump">
                                                                <label class="onoffswitch-label" for="is_jump">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">url
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="url" value="{{.info.Url}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">自定义伪静态
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="url_rewrite" value="{{.info.UrlRewrite}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">缩略图
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <div class="switch">
                                                            <input type="text" class="form-control" name="thumb" value="{{.info.Thumb}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">排序
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="sort" value="{{.info.Sort}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                            </div>
                                        </div>
                                        <div id="tab-seo" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">摘要：</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="description" name="description" class="form-control" style="min-height: 200px">{{.info.Description}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">SEO标题
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="seo_title" value="{{.statistics.SeoTitle}}">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">SEO关键词
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <textarea id="seo_keyword" name="seo_keyword" class="form-control" >{{.statistics.SeoKeyword}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">SEO摘要
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <textarea id="seo_description" name="seo_description" class="form-control" style="min-height: 100px">{{.statistics.SeoDescription}}</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="tab-statistics" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">评论数</label>
                                                    <div class="col-sm-10">
                                                        {{.statistics.Comment}}
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">浏览数</label>
                                                    <div class="col-sm-10">
                                                        {{.statistics.Read}}
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                            </div>

                                        </div>
                                        <div id="tab-remark" class="tab-pane">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">备注：</label>
                                                    <div class="col-sm-10">
                                                        <textarea name="remark" class="form-control" style="min-height: 200px">{{.info.Remark}}</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <!--<div data-provide="markdown-editable">-->
                                    <!--<h2>Bootstrap-Markdown简介</h2>-->
                                    <!--<p>Bootstrap-Markdown是一款优秀的markdown编辑器，提供了实用的API，利用插件进行扩展。<code>你可以单击这段文字试试</code>-->
                                    <!--</p>-->
                                <!--</div>-->
                                <p class="alert alert-success alert-dismissable m-t">
                                    更多示例请访问：<a href="http://toopay.github.io/bootstrap-markdown/" target="_blank">http://toopay.github.io/bootstrap-markdown/</a>
                                    <br>GitHub：
                                    <a href="https://github.com/toopay/bootstrap-markdown" target="_blank">https://github.com/toopay/bootstrap-markdown</a>
                                    <br/>语法：<a href="http://blog.csdn.net/witnessai1/article/details/52551362" target="_blank">http://blog.csdn.net/witnessai1/article/details/52551362</a>
                                    <br/>语法：<a href="http://www.appinn.com/markdown/" target="_blank">http://www.appinn.com/markdown/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<form id="uploadForm" action="/admin/blog/upload/image" method="post" enctype="multipart/form-data">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">文件一</span>
        <input name="upload" type="file" class="form-control upload" aria-describedby="basic-addon1">
    </div>
    <p></p>
    <p></p>
    <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            0%
        </div>
    </div>
    <button type="submit" class="btn btn-primary" autocomplete="off">
        上传
    </button>
</form>
<div style="text-align: center;">
    <button type="button" onclick="upload()" class="btn btn-primary ajaxUp" autocomplete="off">
        上传
    </button>
    <button type="button" onclick="test()" class="btn btn-primary" autocomplete="off">
        重置
    </button>
</div>
<script type="text/javascript">
    function upload(){
        if(!window.FormData){
            $("#msg").html("你的浏览器不支持。");
            $(".alert").show();
        }
        //获得原生的form表单对象，等价于document.forms[0]
        var form = document.getElementById("uploadForm");
        //单个文件超过400MB就不再上传
        var hasError = false;
        $("input[type='file']", form).each(function(index,file){
            if(file.files.length > 0){
                if(file.files[0].size > 400*1024*1024){
                    $("#msg").html("单个文件不能超过400MB。");
                    $(".alert").show();
                    hasError = true;
                    return;
                }
            }
        });
        if(hasError){
            return;
        }
        //构造FormData对象用于发送数据
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open("post", form.action, true);
        //设置请求超时
        xhr.upload.timeout = 2000;
        xhr.upload.ontimeout = function (event){
            $("#msg").html("请求超时！");
            $(".alert").show();
        };
        //添加progress事件
        xhr.upload.addEventListener("progress",function(e){
            $(".progress-bar").addClass("active");
            var howMuch = e.loaded / e.total;
            var p = parseFloat((howMuch * 100).toFixed(2))+"%";
            $(".progress-bar").css("width",p).html(p);
        }, false);
        //上传完成
        xhr.upload.addEventListener("load", function(event){
            $(".progress-bar").removeClass("active");
            $("#msg").html("上传完成！");
            $(".alert").show();
        }, false);
        xhr.upload.addEventListener("error", function(event){
            $(".progress-bar").removeClass("active");
            $("#msg").html("上传出错！");
            $(".alert").show();
        }, false);
        xhr.upload.addEventListener("abort", function(event){
            $(".progress-bar").removeClass("active");
            $("#msg").html("您取消了本次上传。");
            $(".alert").show();
        }, false);
        xhr.send(formData);
    }

    //重置
    function test(){
        $("input[type='file']", document.forms[0]).each(function(index,file){
            file.value = null;
        });
    }
</script>
{{template "admin/public/footer.html" .}}
{{template "admin/blog/get_body_end.html" .}}
</body>
</html>