<link href="{{.__static__}}plugin/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" />

<style>
    .bootstrap-tagsinput{width:100%}
</style>
    <!-- simditor -->
    <script src="{{.__static__}}plugin/bootstrap-markdown/markdown.js"></script>
    <script src="{{.__static__}}plugin/bootstrap-markdown/to-markdown.js"></script>
    <script src="{{.__static__}}plugin/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="{{.__static__}}plugin/bootstrap-markdown/locale/bootstrap-markdown.zh.js"></script>

    <link href="{{.__theme__}}css/plugins/switchery/switchery.css" rel="stylesheet">
    <script src="{{.__theme__}}js/plugins/switchery/switchery.js"></script>
    <!-- iCheck -->
<link href="{{.__theme__}}css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="{{.__theme__}}js/plugins/iCheck/icheck.min.js"></script>

    <!-- 日期时间 -->
    <script src="{{.__theme__}}js/plugins/layer/laydate/laydate.js"></script>
    <!-- Tags -->
    <script src="{{.__static__}}plugin/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <link href="{{.__static__}}plugin/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet">
<script src="{{.__static__}}plugin/insertAtCaret.js"></script>
    <script>
        var blog_id="{{if .is_put}}{{.info.Blog.BlogId}}{{else}}0{{end}}";
        var upload_json={type_id:{{.TYPE_ID}},id:blog_id};
        var layerID;
        //禁止 回车 表单保存
//        document.getElementsByTagName('form')[0].onkeydown = function(e){
//            var e = e || event;
//            var keyNum = e.which || e.keyCode;
//            return keyNum==13 ? false : true;
//        };
        var MarkDown=$("#content").markdown({
            autofocus:true,
            savable:true
//            ,
//            onSave:function (e) {
////            $('.save').click();
//                return false;
//        }
        });

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            //保存发布
            $('.saveRelease').click(function () {
                $(".c_status input[value='99']").iCheck('check');
                $('#thatForm').submit();
            });
            //保存
            $('.save').click(function () {
                $(".c_status input[value='0']").iCheck('check');
                $('#thatForm').submit();
            });
            //保存
            $('#thatForm').submit(function (e) {
                e.preventDefault();
                var btn=$('.btn');
                btn.attr('disabled',true);
                var $this=$(this);
                $this.serialize();
                //加载层
                var loading = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                $.ajax({
                    url:$this.attr('action'),
                    data:$this.serialize(),
                    dataType:'json',
                    method:"{{._method}}"
                }).done(function (data) {
                    layer.close(loading);
                    console.log(data)
                    if(data.code==1){
                        layer.alert(data.info,{ icon:1});
                        setTimeout(function () {
                            window.location.reload()
                        },3000)
                    }else{
                        layer.alert(data.info,{ icon:2});
                        btn.attr('disabled',false);
                    }
                }).fail(function(){ alert("系统错误"); });
                return false;
            });
            //标签
            $('.bootstrap-tagsinput > input').on('change', function (event) {
                var $element = $(event.target),
                    $container = $element.closest('.bootstrap-tagsinput');

                if (!$element.data('tagsinput'))
                    return;

                var val = $element.val();
                if (val === null)
                    val = "null";
                str=($.isArray(val) ? JSON.stringify(val) : val.replace('"', '\\"'));
                $("#tag").val(str);
            }).trigger('change');
            //检测是否存在
            $('button.check_title').click(function () {
                var $this=$(this),$name=$('#title');
                if($name.val()==""||$name.val()==null){
                    var t=layer.tips('标题不能为空', $name);
                    setTimeout(function () {
                        layer.close(t);
                    },2000)
                    return false;
                }
                var data={"title":$name.value(),"cat_id":0,"id":blog_id};
                {{if .is_put}}
                data.id="{{.info.Blog.BlogId}}";
                {{end}}
                $.ajax({
                    url:'/admin/blog/check_title',
                    data:data,
                    dataType:'json',
                    method:"post"
                }).done(function (data) {
                    console.log(data);
                    $this.removeClass("btn-default")
                    if(data.code==1){
                        $this.removeClass("btn-danger");
                        $this.addClass("btn-primary");
                        layer.tips('检测通过', $name);
                    }else{
                        layer.tips('检测失败，有重复', $name);
                        $this.removeClass("btn-primary");
                        $this.addClass("btn-danger");
                    }
                }).fail(function(){
                    alert("系统错误");
                });
            });
            $('button.upload_image').click(function () {
                //iframe层
                layerID=layer.open({
                    type: 2,
                    title: '图片上传',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['680px', '400px'],
                    content: '/admin/upload/image?opt='+encodeURIComponent(JSON.stringify(upload_json)) //iframe的url
                });
            });

            $('button.descriptionCut').click(function () {
                var str=$('#content').data('markdown').parseContent();
                if(str){
                    $('#description').value(str.replace(/<[^>]+>/g,""));
                }
            });
        });
        //图片插入到编辑器中
        function uploadImage(row) {
//            $("#content").insertAtCaret('![输入图片说明]('+row.url+' "在这里输入图片标题")');
            $("#content").insertAtCaret('!['+row.name_original+']('+row.url+')');
            return true;
        }
    </script>