{{template "admin/public/header.html" .}}
    <div class="wrapper wrapper-content  animated fadeInRight blog">
        <div class="row">
            <div class="col-lg-12">
                {{range .data}}
                <div class="ibox">
                    <div class="ibox-content">
                        <a href="blog/detail/{{.Id}}" class="btn-link" target="_blank">
                            <h2>
                                {{.Title}}
                                </h2>
                        </a>
                        <div class="small m-b-xs">
                            <strong>高 晨</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 3 小时前</span>
                            <span class="text-muted"><i class="fa fa-comments-o"></i> 56 评论</span>
                            <span class="text-muted"><i class="fa fa-eye"></i> 144 浏览</span>
                        </div>
                        <p>
                            {{.Description}}
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>标签：</h5>
                                <button class="btn btn-primary btn-xs" type="button">Apple Watch</button>
                                <button class="btn btn-white btn-xs" type="button">速比涛</button>
                            </div>
                            <div class="col-md-6">
                                <div class=" text-right">
                                    <h5>操作</h5>
                                    <a href="blog/{{.Id}}" class="btn btn-info btn-xs" target="_blank"><i class="fa fa-paste"></i> 编辑</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
{{template "admin/public/footer.html" .}}
</body>
</html>