/.idea
.idea
src/github.com/deepzz0/goblog/.idea
/node_modules/*
.DS_Store
!/src/blog/uploads/image/index.html
/src/blog/uploads/image/*
/src/foblogx/uploads/tmp/*
/src/blog/uploads/*
/src/blog/uploads/cache/*
/.vscode/*
/logs
*.rej
.project
/bin/*
/pkg/*
/src/blog/blog