<!-- editor -->
<link rel="stylesheet" href="/static/css/editor.css">
<div id="markdown-editor">
  <div class="input-group">
    <span class="input-group-addon">标题</span>
    <input id="editor-title" type="text" class="form-control" aria-describedby="sizing-addon2">
  </div>
  <div id="tool-bar">
    <span id="btn-marked" title="change model" class="fa fa-eye" aria-hidden="true"></span>|
    <span class="fa fa-arrows-alt" aria-hidden="true"></span>|
    <!-- <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-font" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>|
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
 -->  </div>
  <textarea id="editor-area" class="form-control"></textarea>
  <div id="editor-view"></div>
</div>
<script type="text/javascript" src="/static/js/editor.js"></script>
<!-- /editor -->