{{template "admin/public/header.html" .}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tag <small>分类，查找</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="table_data_tables.html#">选项1</a>
                                </li>
                                <li><a href="table_data_tables.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>名称</th>
                                    <th>时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{range .data.Data}}
                                <tr class="">
                                    <td>{{.TagId}}</td>
                                    <td>{{.Name}}</td>
                                    <td>{{.TimeAdd}}</td>
                                    <td>

                                    </td>
                                </tr>
                            {{end}}
                        </table>
                        <div id="page">
                            <ul class="pagination" id="pageUl">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{template "admin/public/footer.html" .}}
    <!-- Data Tables -->
    <script src="{{.__theme__}}js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{.__theme__}}js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable({
                "bScrollCollapse": false,  //当显示的数据不足以支撑表格的默认的高度时，依然显示纵向的滚动条。(默认是false)
                "bPaginate": true,  //是否显示分页
                "bLengthChange": true,  //每页显示的记录数
                "bFilter": true, //搜索栏
                "bInfo": true, //显示表格信息
                "bAutoWidth": false,  //自适应宽度
                "ordering": false,//排序操作在服务端进行，所以可以关了。
                processing: true,//载入数据的时候是否显示“载入中”
                "bStateSave": true, //保存状态到cookie *************** 很重要 ， 当搜索的时候页面一刷新会导致搜索的消失。使用这个属性就可避免了
                "sPaginationType": "full_numbers", //分页，一共两种样式，full_numbers和two_button(默认)
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmtpy": "找不到相关数据",
                    "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                    "sProcessing": "正在加载中...",
                    "sSearch": "搜索",
                    "sUrl": "", //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                    "oPaginate": {
                        "sFirst":    "第一页",
                        "sPrevious": " 上一页 ",
                        "sNext":     " 下一页 ",
                        "sLast":     " 最后一页 "
                    }
                },
                "bJQueryUI": false, //可以添加 jqury的ui theme  需要添加css
                "aLengthMenu": [[10, 25, 50, -1], ["每页10条", "每页25条","每页50条", "显示所有数据"]],  //设置每页显示记录的下拉菜单
                "ajax": {
                    type: "get",
                    url:"?",
                    dataSrc: "data",//默认data，也可以写其他的，格式化table的时候取里面的数据
                },
                columns: [//对应上面thead里面的序列
                    { data: "blog_id", },//字段名字和返回的json序列的key对应
                    { data: "name", },
                    {
                       data:"time_add"
                    },
                    {
                        data: function (e) {//这里给最后一列返回一个操作列表
                            //e是得到的json数组中的一个item ，可以用于控制标签的属性。
                            return '<a class="btn btn-default btn-xs show-detail-json"><i class="icon-edit"></i>显示详细</a>';
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>
