html,body {padding: 0;margin: 0;height: 100%;color: #555555;font-size: 8px;}
body, button, input, select, textarea {font: 400 1.5em/1.8 Avenir,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
    /*font:13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";color:#333;background-color:#fff;*/
}
html,body,* {box-sizing: border-box;}
article,aside,details,figcaption,figure,footer,header,nav,section {display: block;}
audio,canvas,video {display: inline-block;}
pre{padding: 0px; border: none;}
/*notify*/
.notify-container {position: fixed;top: 0;right: 0;width: auto;z-index: 1061;}
.notify-container:before,.notify-container:after {display: table;content: "";}
.notify-container:after {clear: both;}
.notify-container.position-left {left: 0;right: auto;}
.notify-container.position-top {left: 0;right: 0;top: 0;height: auto;}
.notify-container.position-top .notify {float: left;}
.notify-container.position-bottom {left: 0;right: 0;bottom: 0;top: auto;height: auto;}
.notify-container.position-bottom .notify {float: left;}
.notify {display: block;margin: .3125rem;padding: .625rem;min-width: 200px;cursor: default;max-width: 300px;position: relative;}
.notify .notify-icon {width: 32px;height: 32px;font-size: 32px;text-align: center;position: absolute;margin: -16px 10px;top: 50%;left: 0;}
.notify .notify-icon ~ .notify-title,.notify .notify-icon ~ .notify-text {position: relative;margin-left: 42px;}
.notify .notify-title,.notify .notify-text {display: block;margin-right: 20px;}
.notify .notify-title {font-weight: 500;font-size: 1rem;}
.notify .notify-text {font-size: .875rem;}
.notify .notify-closer {position: absolute;height: 1rem;width: 1rem;text-align: center;vertical-align: middle;font-size: 1rem;font-weight: normal;padding: 0 0 .625rem 0;z-index: 3;outline: none;cursor: pointer;background-color: #ffffff;color: #777777;top: .25rem;right: .25rem;}
.notify .notify-closer:after {border-color: #777777;content: '\D7';position: absolute;left: 50%;top: 50%;margin-top: -0.65rem;margin-left: -0.35rem;}
.notify .notify-closer:hover {background-color: #cde6f7;color: #ffffff;}
.notify .notify-closer:active {background-color: #92c0e0;color: #ffffff;}
.notify {background-color: #e5f3fb;color: #1d1d1d;}
.notify.success {background-color: #60a917;color: #ffffff;}
.notify.success .notify-closer {background-color: #60a917;color: #ffffff;}
.notify.success .notify-closer:hover {background-color: #7ad61d;}
.notify.success .notify-closer:active {background-color: #128023;}
.notify.alert {background-color: #ce352c;color: #ffffff;}
.notify.alert .notify-closer {background-color: #ce352c;color: #ffffff;}
.notify.alert .notify-closer:hover {background-color: #da5a53;}
.notify.alert .notify-closer:active {background-color: #9a1616;}
.notify.warning {background-color: #fa6800;color: #ffffff;}
.notify.warning .notify-closer {background-color: #fa6800;color: #ffffff;}
.notify.warning .notify-closer:hover {background-color: #ffc194;}
.notify.warning .notify-closer:active {background-color: #bf5a15;}
.notify.info {background-color: #1ba1e2;color: #ffffff;}
.notify.info .notify-closer {background-color: #1ba1e2;color: #ffffff;}
.notify.info .notify-closer:hover {background-color: #59cde2;}
.notify.info .notify-closer:active {background-color: #1b6eae;}
/* preloader */
.preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#FFF;z-index:9999;}
#status{position:fixed;z-index:9999;width:250px;height:250px;left:50%;top:50%;background-image:url("https://o7msui8ho.qnssl.com/img/modify.png/img/status.gif");background-size:32px 32px;background-repeat:no-repeat;background-position:center;margin:-125px 0 0 -125px;}
#status p{top:60%;}
#status em{font-size:10px!important;display:block;font-style:normal;}
em{display: block;color:#646569;font-family:Dosis, sans-serif;font-style:normal;text-align:center;font-size:14px;font-weight:400;padding-top:10px;}
/*left-bar*/
@media (min-width: 768px){.left-bar{border-right: 1px solid #eee;width:15%;min-width: 100px;height: auto;float: left;display: block;padding: 4px;}}
@media (min-width: 468px){.left-bar{/*display: none;*/}}
.tq { margin-top: 10px;margin-bottom: 5px;font-size: 85%;font-weight: normal;letter-spacing: 1px;color: #51586a;text-transform: uppercase;border-bottom: 1px solid #efefef;}
#nav-category> li.active > a, #nav-category > li.active > a:hover, #nav-category > li.active > a:focus {color: white;background-color: #1ca8dd;}
#nav-category>li > a {color: #555555;padding: 4px 15px;}
li {list-style: none;}
li > a {border-radius: 4px;position: relative;display: block;padding: 7px 14px;}
a {color: #1ca8dd;text-indent: 0;text-decoration: none;}
.site-copyright {text-align: center;font-size: .78571428571429em; margin: 10px 0 0;clear: both;}
.site-nav-diver {border-bottom: 1px solid #EEE;margin: 6px;}
.social-icons{padding: 0px;margin-left: -40px;}
.social-icons li {float: left;list-style: none;}
.social-icons li:hover{opacity: 0.5;}
.social-icons li a{text-decoration: none;}
/*right-content*/
.right-content{/*margin: 10px;*/padding: 5px;width:85%; height: 100%;float: left;}
/*文章列表*/
.page-title {margin-top: 20px;font-size: 20px;color: #999;margin-bottom: 10px;border-bottom: 1px solid #eee;padding-bottom: 4px;}
.post-container {border-bottom: 1px dashed #cacaca;padding-bottom: 30px;}
.post-container .post-title {margin-bottom: 16px;margin-top: 20px;}
.post-container .meta-box {font-size: 11px;padding: 4px;border-left-color: #b02323;line-height: 1;}
.post-container .meta-box .m-post-date {color: #dd4814;margin-right: 15px;}
.post-container .post-expect {padding: 10px;}
.post-container p {/*text-indent: 2em;*/margin: 5px 0;}
.post-container .post-expect p {text-indent: 0;line-height: 2;}
.post-container .meta-box .cat-links {color: #dd4814;margin-right: 15px;}
.post-container .meta-box .tag-links {color: #dd4814;margin-right: 15px;}
.main-container .btn {text-indent: 0;}
.cat-links b {margin-right: 5px;}
b, strong {font-weight: inherit;}
/*评论icon*/
.fa-comments{
  color: #dd4814;
}
/*page->pre,next*/
.pager li>a, .pager li>span{border: none;}
/*fix-btn*/
.fixed-btn {line-height: 0%; position: fixed;right: 1%;bottom: 2.5%;width: 40px;border: 1px solid #eee;background-color: white;font-size: 24px;z-index: 1040;-webkit-backface-visibility: hidden;}
.fixed-btn a{display: inline-block;width: 38px;height: 38px;text-align: center;text-decoration: none;}
.fixed-btn a:after{content:".";font-size:0;height:100%;display:inline-block;vertical-align:middle}
.fixed-btn a i{vertical-align: middle;}
.fixed-btn .go-top{display: none;border-bottom: 1px solid #eee;}
.fixed-btn .writer{background-color:#1ca8dd;font-size:12px;color:white}
.fixed-btn .hide-go-top{display:none;opacity:0;filter:alpha(opacity=0)}
/*.modal.fade{-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out;top:-25%}*/
/*.modal.fade.in{top:10%}.modal-header{padding:9px 15px;border-bottom:1px solid #eee}*/
/*.modal-header .close{margin-top:2px}.modal-header h3{margin:0;line-height:30px}*/
/*.modal-body{position:relative;overflow-y:auto;max-height:400px;padding:15px}*/
/*.modal-form{margin-bottom:0}*/
/*.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 white;-moz-box-shadow:inset 0 1px 0 white;box-shadow:inset 0 1px 0 white;*zoom:1}*/
/*.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0}*/
/*.modal-footer:after{clear:both}*/
/*.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}*/
/*.modal-footer .btn-group .btn+.btn{margin-left:-1px}*/
/*.modal-footer .btn-block+.btn-block{margin-left:0}*/
/*.hide{display:none}*/
/*.modal{background-color:white;border:1px solid #d9d9d9;font-size:14px;font-weight:normal;line-height:20px;position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;border:1px solid rgba(0,0,0,0.3);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:0}*/
/*.panel-modal .panel-body{overflow-y:auto;min-height:90px;max-width:150px}*/
/*首页*/
/*友情连接*/
.blogroll{list-style: none;padding: 0;margin: 0;}
.blogroll a {color: #757575;text-decoration: none;font-size: 1.3rem;outline: none;}
.blogroll a:hover{color: black;font-size: 12px;}
/*云标签*/
.tagcloud a:hover{color: black;}
.tagcloud a {color: #757575;text-decoration: none;font-size: 1rem;margin: 1px;}
.tag-link-1{font-size: 8pt!important;}
.tag-link-2{font-size: 10.191304347826pt!important;}
.tag-link-3{font-size: 11.652173913043pt!important;}
.tag-link-4{font-size: 12.752173913043pt!important;}
.tag-link-5{font-size: 13.84347826087pt!important;}
.tag-link-6{font-size: 10.191304347826pt!important;}
.tag-link-7{font-size: 11.652173913043pt!important;}
.tag-link-8{font-size: 12.752173913043pt!important;}
.tag-link-9{font-size: 13.84347826087pt!important;}
.tag-link-10{font-size: 10.191304347826pt!important;}
.tag-link-11{font-size: 11.652173913043pt!important;}
.tag-link-12{font-size: 12.752173913043pt!important;}
.tag-link-13{font-size: 13.84347826087pt!important;}
.tag-link-14{font-size: 10.191304347826pt!important;}
.tag-link-15{font-size: 11.652173913043pt!important;}
.tag-link-16{font-size: 12.752173913043pt!important;}
.tag-link-17{font-size: 13.84347826087pt!important;}
.tag-link-18{font-size: 18.713043478261pt!important;}
.tag-link-19{font-size: 19.052173913043pt!important;}
.tag-link-20{font-size: 19.752173913043pt!important;}
.tag-link-21{font-size: 20.24347826087pt!important;}
.tag-link-22{font-size: 20.591304347826pt!important;}
.tag-link-23{font-size: 20.91304347826pt!important;}
.tag-link-24{font-size: 21.252173913043pt!important;}
.tag-link-25{font-size: 21.752173913043pt!important;}
.tag-link-26{font-size: 21.94347826087pt!important;}
.tag-link-27{font-size: 22pt!important;}
/*文章导航*/
.BlogAnchor { /*background: #f4f7f9;*/padding: 10px;line-height: 50%;}
.BlogAnchor p {font-size: 18px;color: #15a230;margin-bottom: 0.3em;}
.BlogAnchor .AnchorContent {padding: 5px 0px;}
.AnchorContent{display: none;}
.BlogAnchor li{text-indent: 20px;font-size: 14px;}
#AnchorContentToggle {font-size: 13px;font-weight: normal;color: #FFF;display: inline-block;line-height: 20px;background: #5cc26f;font-style: normal;padding: 1px 8px;margin-right: 10px;}
.BlogAnchor a:hover {color: #5cc26f;}
.BlogAnchor a {text-decoration: none;}
.markdown-body{font-size: 14px;}
/*后台table*/
.manage-table{border: 1px solid #eee;border-radius: 4px;margin-left: 10px;margin-bottom: 30px;padding: 5px;}
.col-background{border: 1px solid #eee;border-radius: 4px;height: 240px;margin: 0 0 10px 0;}
.right{float: right;}
/*editor 添加文章*/
@media (min-width:768px){#selecetCategory{width: 90px;position: absolute;right: 50px;top: 10px;}}
@media (min-width:768px) {.chooseTag{position: absolute;right: 140px;top: 10px;}}
.chooseTag .dropdown-menu{padding: 5px 5px;}
.chooseTag .dropdown-menu span, #newTag span{cursor: pointer;display: inline-block;}
#newTag{position: absolute;left: 15px;}
#add-tag{width: 100%;}
.removeTag{font-size:14px;color:#808080;margin-left:4px;}
.removeTag:hover{color: white;}