#tool-bar span{
	margin-left: 12px;
	margin-right: 12px;
}
#markdown-editor{
	margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}
#editor-area, #editor-view{
	display: inline-block;
    width: 49%;
    height: 530px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    overflow-y: auto;
}
#editor-view{
	font-size: 14px;
    background-color": white;
}
#editor-area{
    background-color: #f6f6f6;
    font-family: 'Monaco', courier, monospace;
    padding: 10px;
    font-size: 12px;
}
#tool-bar{
	/*border-bottom: 1px solid #ccc;*/
    /*padding: 4px;*/
}
#tool-bar span{
	cursor: pointer;
}
/*显示控制*/
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}
/*@media (min-width:768px){#topicsModal>.modal-dialog{margin:30px auto}*/