<form class="form-inline">
  <div class="form-group">
    <div class="btn-group" role="group" style="margin-left: 10px;">   
      <button type="button" data-toggle="modal" data-target="#socialModal" id="newSocial" class="btn btn-sm btn-info">新增工具</button>
    </div>
  </div>
</form>
<div class="manage-table">
  <table class="table">
  	<caption>社交工具</caption>
    <thead>
      <tr>
        <th><a>全选</a></th>
        <th>排序</th>
        <th>索引</th>
        <th>超链接</th>
        <th>图标</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{range .Socials}}
      <tr>
        <th scope="row"><input id="{{.ID}}" type="checkbox"></th>
        <td>{{.SortID}}</td>
        <td>{{.ID}}</td>
        <td><a href="{{.Extra}}" target="_black">{{.Extra}}</a></td>
        <td><i class="{{.Icon}}"></i></td>
        <td>{{dateformat .CreateTime "2006-01-02 15:04"}}</td>
        <td>
          <button type="button" data-toggle="modal" data-target="#socialModal" class="btn btn-info btn-xs modifySocial">修改</button>
          <button type="button" class="btn btn-warning btn-xs deleteSocial">删除</button>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <div id="socialModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <!-- title -->
          <h5 class="modal-title" id="socialModalLabel"></h5>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <!-- content -->
            <div class="row">
              <textarea class="form-control" id="socialContent" rows="8"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- button -->
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button><button type="button" id="saveSocial" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <script>
    $('#newSocial').on('click', function(){
      $('#socialModalLabel').text('新增社交');
      var example = '{\n        "ID": "TEST",\n        "SortID": 0,\n        "Title": "我的github",\n        "Extra": "http://github.com/smalltree0",\n        "Icon": "fa fa-github fa-2x",\n        "CreateTime": "2016-02-03T22:32:49.06+08:00"\n}';
      $('#socialContent').val(example);
    });
    $('#saveSocial').on('click', function(){
      var content = $('#socialContent').val();
      var resp = get('post', location.pathname, {flag:'save',json:content}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      location.reload();
    });
    $('.modifySocial').on('click',function(){
      $('#socialModalLabel').text('修改社交');
      var id = $(this).parent().parent().find('th input').attr('id');
      if (id==""){pushMessage('warning', '对不起|系统错误。');}
      var resp = get('post', location.pathname, {flag:'modify', id:id}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      $('#socialContent').val(JSONFormat(resp.Data));
    });
    $('.deleteSocial').on('click', function(){
      var node = $(this).parent().parent()
      var id = node.find('th input').attr('id');
      if (id==""){pushMessage('warning', '对不起|系统错误。');}
      if (!confirm('确定要删除该工具吗？')){return;}
      var resp = get('post', location.pathname, {flag:'delete', id:id}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      node.remove();
      pushMessage('success', '恭喜|操作成功。');
    });  
  </script>
</div>
