<form class="form-inline">
  <div class="form-group">
    <div class="btn-group" role="group" style="margin-left: 10px;">   
      <button type="button" data-toggle="modal" data-target="#blogrollModal" id="newBlogroll" class="btn btn-sm btn-info">新增链接</button>
    </div>
  </div>
</form>
<div class="manage-table">
  <table class="table">
    <caption>友情链接</caption>
    <thead>
      <tr>
        <th><a>全选</a></th>
        <th>排序</th>
        <th>ID</th>
        <th>超链接</th>
        <th>显示名称</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{range .Blogrolls}}
      <tr>
        <th scope="row"><input id="{{.ID}}" type="checkbox"></th>
        <td>{{.SortID}}</td>
        <td>{{.ID}}</td>
        <td><a href="{{.Extra}}" target="_black">{{.Extra}}</a></td>
        <td>{{.Text}}</td>
        <td>{{dateformat .CreateTime "2006-01-02 15:04"}}</td>
        <td>
          <button type="button" data-toggle="modal" data-target="#blogrollModal" class="btn btn-info btn-xs modifyBlogroll">修改</button>
          <button type="button" class="btn btn-warning btn-xs deleteBlogroll">删除</button>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <div id="blogrollModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <!-- title -->
          <h5 class="modal-title" id="blogrollModalLabel"></h5>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <!-- content -->
            <div class="row">
              <textarea class="form-control" id="blogrollContent" rows="8"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- button -->
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button><button type="button" id="saveBlogroll" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <script>
    $('#newBlogroll').on('click', function(){
      $('#blogrollModalLabel').text('新增链接');
      var example = '{\n        "ID": "TEST",\n        "SortID": 0,\n         "Title": "deepzz0的github",\n        "Extra": "http://github.com/deepzz0",\n        "Text": "github",\n        "CreateTime": "2016-02-03T21:35:11.28+08:00"\n}';
      $('#blogrollContent').val(example);
    });
    $('#saveBlogroll').on('click', function(){
      var content = $('#blogrollContent').val();
      var resp = get('post', location.pathname, {flag:'save',json:content}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      location.reload();
    });
    $('.modifyBlogroll').on('click',function(){
      $('#blogrollModalLabel').text('修改链接');
      var id = $(this).parent().parent().find('th input').attr('id');
      if (id==""){pushMessage('info', '对不起|系统错误。');}
      var resp = get('post', location.pathname, {flag:'modify', id:id}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      $('#blogrollContent').val(JSONFormat(resp.Data));
    });
    $('.deleteBlogroll').on('click', function(){
      var node = $(this).parent().parent()
      var id = node.find('th input').attr('id');
      if (id==""){pushMessage('info', '对不起|系统错误。');}
      if (!confirm('确定要删除该链接吗？')){return;}
      var resp = get('post', location.pathname, {flag:'delete', id:id}, false);
      if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
      node.remove();
      pushMessage('success', '恭喜|操作成功。');
    }); 
  </script>
</div>
