{{ define "nisarg/blog/footer.html" }}
  </div><!-- #content -->
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			&copy; 2017 ~ 2026
			<span class="sep"> | </span>
			<a href="https://beian.miit.gov.cn/"  target="_blank">
				苏ICP备2024089878号-3
			</a>
			<span class="sep"> | </span>
			Powered by
			<a href="https://www.foxwho.com/" >FoxWho</a>
			<span class="sep"> | </span>
			Theme: <a href="https://wordpress.org/themes/nisarg/" rel="designer">Nisarg</a>
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->
<!-- 静态文件引用 -->
<script src="/assets/static/nisarg/js/jquery.js"></script>
<script src="/assets/static/nisarg/js/bootstrap.js"></script>
<script src="/assets/static/nisarg/js/nisarg.js"></script>
</body>
</html>
{{end}}