{{template "admin/public/header.html" .}}
    <div class="wrapper wrapper-content">
                <form action="/admin/blog/cat{{if .is_put}}/{{.info.BlogId}}{{end}}" method="post" class="form-horizontal">
                    <input type="hidden" name="_method" value="{{._method}}" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>栏目</h5>
                                <div class="ibox-tools">
                                    <button class="btn btn-white btn-xs" type="reset">取消</button>
                                    <button class="btn btn-success btn-xs" type="submit">保存</button>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="form_editors.html#">
                                        <i class="fa fa-wrench"></i>更多
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a>选项2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">标题：</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" placeholder="标题" name="title" class="form-control input-lg" value="{{.info.Title}}" id="title">
                                            <div class="input-group-btn">
                                                <button class="btn btn-lg btn-default check_title" type="button">
                                                    检测重复
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注：</label>
                                    <div class="col-sm-10">
                                        <textarea name="remark" class="form-control" style="min-height: 100px">{{.info.Remark}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">摘要：</label>
                                    <div class="col-sm-10">
                                        <textarea id="description" name="description" class="form-control" style="min-height: 100px">{{.info.Description}}</textarea>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">排序
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="sort" value="{{.info.Sort}}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">删除
                                    </label>

                                    <div class="col-sm-10">
                                        <div class="switch">
                                            <div class="onoffswitch">
                                                <input type="checkbox"  class="onoffswitch-checkbox" name="is_del" value="1" id="is_del">
                                                <label class="onoffswitch-label" for="is_del">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <!--<div data-provide="markdown-editable">-->
                                    <!--<h2>Bootstrap-Markdown简介</h2>-->
                                    <!--<p>Bootstrap-Markdown是一款优秀的markdown编辑器，提供了实用的API，利用插件进行扩展。<code>你可以单击这段文字试试</code>-->
                                    <!--</p>-->
                                <!--</div>-->
                                <p class="alert alert-success alert-dismissable m-t">
                                    更多示例请访问：<a href="http://toopay.github.io/bootstrap-markdown/" target="_blank">http://toopay.github.io/bootstrap-markdown/</a>
                                    <br>GitHub：
                                    <a href="https://github.com/toopay/bootstrap-markdown" target="_blank">https://github.com/toopay/bootstrap-markdown</a>
                                    <br/>语法：<a href="http://blog.csdn.net/witnessai1/article/details/52551362" target="_blank">http://blog.csdn.net/witnessai1/article/details/52551362</a>
                                    <br/>语法：<a href="http://www.appinn.com/markdown/" target="_blank">http://www.appinn.com/markdown/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{{template "admin/public/footer.html" .}}
<!-- iCheck -->
<link href="{{.__theme__}}css/plugins/iCheck/custom.css" rel="stylesheet">
<script src="{{.__theme__}}js/plugins/iCheck/icheck.min.js"></script>
<script>
    var blog_id="{{if .is_put}}/{{.info.BlogId}}{{else}}0{{end}}";
    var cat_id="{{.cat_id}}";
    //禁止 回车 表单保存
    document.getElementsByTagName('form')[0].onkeydown = function(e){
        var e = e || event;
        var keyNum = e.which || e.keyCode;
        return keyNum==13 ? false : true;
    };
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        //保存
        $('form').submit(function (e) {
            e.preventDefault();
            var btn=$('.btn');
            btn.attr('disabled',true);
            var $this=$(this);
            $this.serialize();
            //加载层
            var loading = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            $.ajax({
                url:$this.attr('action'),
                data:$this.serialize(),
                dataType:'json',
                method:"{{._method}}"
            }).done(function (data) {
                layer.close(loading);
                console.log(data)
                if(data.code==1){
                    layer.alert(data.info,{ icon:1});
                    setTimeout(function () {
                        window.location.reload()
                    },3000)
                }else{
                    layer.alert(data.info,{ icon:2});
                    btn.attr('disabled',false);
                }
            }).fail(function(){ alert("系统错误"); });
            return false;
        });
        //检测是否存在
        $('button.check_title').click(function () {
            var $this=$(this),$name=$('#title');
            if($name.val()==""||$name.val()==null){
                var t=layer.tips('标题不能为空', $name);
                setTimeout(function () {
                    layer.close(t);
                },2000)
                return false;
            }
            var data={"title":$name.value(),"cat_id":cat_id,"id":blog_id};
            {{if .is_put}}
            data.id="{{.info.BlogId}}";
            {{end}}
            $.ajax({
                url:'/admin/blog/check_title',
                data:data,
                dataType:'json',
                method:"post"
            }).done(function (data) {
                console.log(data);
                $this.removeClass("btn-default")
                if(data.code==1){
                    $this.removeClass("btn-danger");
                    $this.addClass("btn-primary");
                    layer.tips('检测通过', $name);
                }else{
                    layer.tips('检测失败，有重复', $name);
                    $this.removeClass("btn-primary");
                    $this.addClass("btn-danger");
                }
            }).fail(function(){ alert("系统错误"); });
        });
    });
</script>
</body>
</html>