<!-- #header start-->
<header id="header" class="header">
    <h1><a href="/">首页</a></h1>
    <p> - -<a href="http://foxwho.com">风.fox</a>  world</p>
    <nav id="menu">
        <ul class="submenu">
            <li><a href="/">文章</a></li>
            <!--<li><a href="/life">生活</a></li>-->
            <li><a href="https://github.com/foxiswho/" target="_blank">GitHub</a></li>
            <li><a href="http://blog.csdn.net/fenglailea" target="_blank">CSDN博客</a></li>
            <li><a href="http://www.lanmps.com/" target="_blank">LANMPS 一键PHP环境安装包</a></li>
            <li><a href="http://www.xingqiuhuo.com" target="_blank">简单网盘搜索</a></li>
            <!--<li><a href="/feed/"><i class="icon-rss"></i></a></li>-->
        </ul>
    </nav>
    <!-- #header end -->
</header>