<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{if .title}}{{.title}}-{{end}}{{.site_name}}</title>
    <meta name="keyword" content="{{.keyword}}"/>
    <meta name="description" content="{{.description}}"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/uno/style.css"/>
    <link rel="stylesheet" href="/static/uno/prism.css"/>
    <link rel="stylesheet" href="/static/plugin/editor.md/css/editormd.preview.css"/>
    <style>
        pre[class*="language-"].line-numbers {
            padding-left: inherit;
        }
        .markdown-body pre code {
            display: block;
        }
        .editormd-preview-container, .editormd-html-preview {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>