<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1;"/>
  	<link rel="shortcut icon" type="text/css" href="/static/img/favicon.ico">
  	<title>喔噢，404页面未找到(404 Page.)</title>
	<style>
    	body{
    		text-align: center;
    		background-color: #E1E1E1;
    	}    
	</style>
</head>
<body>
<img src="https://o7msui8ho.qnssl.com/img/404.jpg" alt="404 not found" width="550" height="335">
<footer>
</footer>
<script>
  window.setInterval(function () {
    window.location.assign("/")
  }, 3000);
</script>

</body>
</html>
