<div class="row">
    <div class="col-md-12">
		<h1 class="page-title"><a href="{{.URL}}" rel="bookmark">{{.Name}}</a></h1>
		<div class="topicList">
			{{range .ListTopics}}
	        <div class="row">
	          <div class="col-md-12 post-container">
	            <h3 class="post-title"><a href="{{.URL}}" rel="bookmark">{{.Title}}</a></h3>
	            <div class="meta-box">
	              <span class="m-post-date"><i class="fa fa-calendar"></i> {{.Time}}</span>
	              <span class="comments-link"><a href="{{.URL}}#respond" class="ds-thread-count" data-thread-key="{{.ID}}" title="Comment on {{.Title}}" target="_self"><i class="fa fa-comments"></i> 留言</a></span>
	            </div>
	            <div class="post-content post-expect">
	              <p>
	                <div class="markdown-body">{{str2html .Preview}}</div>
	                <a href="{{.URL}}" class="more-link btn btn-primary btn-xs">阅读全文</a>
	              </p>
	            </div>
	            <div class="meta-box">
	              <span class="cat-links"><i class="fa fa-reorder"></i><b>分类:</b>
                	{{with .PCategory}}
                  		<a href="{{.Extra}}" rel='category tag'>{{.Text}}</a>
                	{{end}}
              		</span>
	              <span class="tag-links"><i class="fa fa-tags"></i><b>标签:</b>
	                {{range $index, $elem := .PTags}}
	                  {{if eq $index 0}}
	                    <a href="{{.Extra}}" rel="tag" title="{{.Count}} topic">{{.Text}}</a>
	                  {{else}}
	                    <a href="{{.Extra}}" rel="tag" title="{{.Count}} topic">,{{.Text}}</a>
	                  {{end}}
	                {{end}}
	              </span>
	            </div>
	          </div>
	        </div>
	      {{end}}
		</div>
	</div>
	<nav>
  		<ul class="pager">
    		<li class="previous {{.StyleOlder}}" id="previous"><a href="{{.UrlOlder}}"><span aria-hidden="true">←</span> Older</a></li>
    		<li class="next {{.StyleNewer}}" id="next"><a href="{{.UrlNewer}}">Newer <span aria-hidden="true">→</span></a></li>
   		</ul>
	</nav>
</div>
<script>
</script>