<!DOCTYPE HTML>
<html lang="cn" dir="ltr" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="author" content="{{.BlogName}}">
  <link rel="dns-prefetch" href="https://o7msui8ho.qnssl.com" />
  {{range .Verification}}
  <meta name="{{.Name}}" content="{{.Content}}">
  {{end}}
  <meta name="keywords" content="{{.Keywords}}"/>
  <meta name="description" content="{{.Description}}">
  <title>{{.Title}}</title>
  <!-- rss -->
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - Recent articles" href="/feed" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://o7msui8ho.qnssl.com/css/bootstrap.min.css">
  <!-- sns font -->
  <link rel="stylesheet" href="https://o7msui8ho.qnssl.com/css/font-awesome.min.css">
  <!-- docs -->
  <!-- <link rel="stylesheet" href="/static/css/docs.min.css"> -->
  <!-- highlight theme -->
  <link rel="stylesheet" href="https://o7msui8ho.qnssl.com/css/github-gist.css">
  <link rel="stylesheet" href="https://o7msui8ho.qnssl.com/css/user-content.min.css">

  <link rel="stylesheet" href="/static/css/blog.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!--[if lt IE 9]>
<div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->
<script src="https://o7msui8ho.qnssl.com/js/jquery-1.11.3.min.js"></script>
<!-- highlight -->
<script src="https://o7msui8ho.qnssl.com/js/highlight.pack.js"></script>
<!-- content start -->
<div class="left-bar">
  <div class="top-section">
    <div class="profile-image">
      <img src="{{.Picture}}" class="img-responsive img-rounded img-circle" alt="logo image">
    </div>
    <h4 class="profile-title">{{.BlogName}}</h4>
    <p class="profile-description">{{.Introduce}}</p>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" id="search-content" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="btn-search"><span class="fa fa-search" aria-hidden="true"></span></button>
    </span>
  </div><!-- /input-group -->
  <ul class="nav nav-stacked" id="nav-category">
    {{range .Categories}}
      {{if eq $.Choose .ID}}
        <li class="active"><a href="{{.Extra}}" target="_self" title="{{.Title}}">{{.Text}}</a></li>
      {{else if .Extra}}
        <li><a href="{{.Extra}}" target="_self" title="{{.Title}}">{{.Text}}</a></li>
      {{else}}
        <li class="tq">{{.Text}}</li>
      {{end}}
    {{end}}
  </ul>
  <div class="social-icons">
    <ul>
      {{range .Socials}}
        <li><a href="{{.Extra}}" target="_blank"><i class="{{.Icon}}"></i></a></li>
      {{end}}
    </ul>
  </div>
  <p class="site-copyright">© Copyright 2016 - {{.CopyTime}} <a href="/" title="Deepzz">{{.BlogName}}</a></p>
  <div style="text-align: center;">
    <a href="/feed" title="订阅我" target="_blank"><img src="https://o7msui8ho.qnssl.com/img/rss.png"></a>
    <a href="https://portal.qiniu.com/signup?code=3lqod49c309ci" title="静态文件存储由七牛云存储提供" target="_blank"><img src="https://o7msui8ho.qnssl.com/img/qiniu.png"></a>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" title="Creative Commons Attribution-NonCommercial 4.0 International License,知识共享署名-非商业性使用 4.0 国际许可协议进行许可，转载请注明作者及原网址."><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
  </div>
</div>
<div class="right-content">
  <div class="container-fluid bs-docs-container" id="content">
    {{.LayoutContent}}
  </div>
  <div class="right">{{.Build}}</div>
</div>
<!-- content end -->
<!-- fixed-btn -->
<div class="fixed-btn">
  <a class="go-top" href="javascript:void(0)" title="返回顶部"><i class="fa fa-angle-up"></i></a>
  <a class="qrcode"  href="javascript:void(0)" title="关注我们"><i class="fa fa-qrcode"></i></a>
  <a class="writer" target="_blank" href="/message" title="给我留言">留言</a>
  <!-- qrcode modal -->
  
</div>
<!-- fixed-btn end -->
<script src="https://o7msui8ho.qnssl.com/js/bootstrap.min.js"></script>
<script src="/static/js/blog.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://o7msui8ho.qnssl.com/js/analytics.js','ga');

  ga('create', 'UA-77251712-1', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript">
  $('#btn-search').on('click', function(){
    var content = $('#search-content').val();
    if (content == ""){
      pushMessage('info', "sorry|请输入你搜索的标题。")
      return;
    }
    location.href="/search?title=" + content;
  });
</script>
</body>
</html>