<div class="row">
  <div class="col-md-12" role="main">
    <div class="post-container">
      <h2 class="post-title page-title"><a href="{{.URL}}" rel="bookmark">{{.Name}}</a></h2>
        <!-- content -->
        <div class="post-content">
          <div class="post-content">
          <p><a href="javascript:;"><img class="img-responsive img-rounded" src="https://o7msui8ho.qnssl.com/img/message/message.jpg"><img></a></p>
          <p>非常感谢你关注我的博客，如果你想联系我，可以通过下面的联系方式。</p>
          <p><a class="btn btn-sm btn-primary" href="mailto:chenqijing2@qq.com" target="_blank"><i class="fa fa-qq"></i>QQ邮箱</a><a class="btn btn-sm btn-primary" href="mailto:chenqijing2@163.com" target="_blank"><i class="fa fa-envelope-o"></i>网易邮箱</a></p>
          <p>当然，如果你有新浪微博或者腾讯微博的话，也可以在上面给我留言。</p>
          <p><a class="btn btn-sm btn-primary" href="http://weibo.com/52dxs" target="_blank"><i class="fa fa-weibo"></i>新浪微博</a><a class="btn btn-sm btn-primary" href="http://t.qq.com/chenqijing2" target="_blank"><i class="fa fa-tencent-weibo"></i>腾讯微博</a></p>
          <p>或者，直接在本页留言也可以，不过不确定什么时候会看到，:D</p></div>
        </div>
    </div>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-order="desc" data-limit="50" data-form-position="top" data-thread-key="{{.ID}}" data-title="{{.Name}}" data-url="{{.Domain}}{{.URL}}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"deepzz"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//o7msui8ho.qnssl.com/js/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
    <!-- 多说公共JS代码 end -->

  </div>   
</div>
