<div class="col-xs-12 col-sm-12 col-background" id="main1" style="height: 180px;">
  <div class="row">
    <div class="col-xs-4 col-sm-4">
      <h4>今日浏览量(PV)</h4>
      <h2 id="todayPV">0</h2>
      <h4>昨日浏览量(PV)</h4>
      <h2 id="yestodayPV">0</h2>
    </div>
    <div class="col-xs-4 col-sm-4">
      <h4>今日独立IP</h4>
      <h2 id="todayIP">0</h2>
      <h4>昨日独立IP</h4>
      <h2 id="yestodayIP">0</h2>
    </div>
    <div class="col-xs-4 col-sm-4">
      <h4>今日独立UV</h4>
      <h2 id="todayUV">0</h2>
      <h4>昨日独立UV</h4>
      <h2 id="yestodayUV">0</h2>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-background" id="PV" style="min-height: 270px;"></div>
<div class="col-xs-12 col-sm-12 col-background" id="mapchina" style="height: 600px;"></div>
<div class="col-xs-12 col-sm-12">
  <table class="table">
    <caption>来源链接</caption>
    <thead>
      <tr>
        <th>请求来源</th>
        <th>URL</th>
        <th>IP</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody id="tbody-latest">
    </tbody>
  </table>
</div>
<!-- 引入 ECharts 文件 -->
<script src="https://o7msui8ho.qnssl.com/js/chart/echarts.min.js"></script>
<script src="https://o7msui8ho.qnssl.com/js/map/china.js"></script>
<script type="text/javascript">
  $(function(){
    window.onresize = function () {
    PV.resize(); //使第一个图表适应
    mapchina.resize();
  }
});

  var baseoption = {
    baseOption:{
      title:{
        text:""
      },
      tooltip:{
        trigger:"axis",
        axisPointer:{
          animation:false
        }
      },
      legend:{
        data:[]
      },
      grid:{
        left:"3%",
        right:"4%",
        bottom:"3%",
        containLabel:true
      },
      toolbox:{
        show:true,
        feature:{
          saveAsImage:{show:true}
        }
      },
      xAxis:{
        type:"category",
        data:[],
        boundaryGap:false,
        splitLine:{
          show:false
        }
      },
      yAxis:{
        type:"value"
      },
      series:[]
    },
    media:[{
      query:{
        maxWidth:500
      },
      option:{
        legend:{
          right:"4%",
          top:"15%",
          orient:"vertical"
        }
      },
      series:[{
        radius:[20, "50%"],
        center:["50%", "30%"]
      },{
        radius:[30, "30%"],
        center:["50%", "75%"]
      }]
    }]
  }

  var mapOption = {
    title : {
        text: '访客分布',
        subtext: '中国区域',
        x:'center'
    },
    tooltip : {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        x:'left',
        data:['访客城市']
    },
    dataRange: {
        min: 0,
        max: 2500,
        x: 'left',
        y: 'bottom',
        text:['高','低'],           // 文本，默认为数值文本
        calculable : true
    },
    toolbox: {
        show: true,
        orient : 'vertical',
        x: 'right',
        y: 'center',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    roamController: {
        show: true,
        x: 'right',
        mapTypeControl: {
            'china': true
        }
    },
    series : [
        { 
            type:'map',
            name:'访客城市',
            mapType:'china',
            roam: false,
            itemStyle:{
                normal:{label:{show:true}},
                emphasis:{label:{show:true}}
            }
        }
    ]
};
// 基于准备好的dom，初始化echarts实例
var PV = echarts.init(document.getElementById('PV'));
var mapchina = echarts.init(document.getElementById('mapchina'));

PV.setOption(baseoption);
mapchina.setOption(mapOption);

function hourFormat(num) {
  var hour = Math.floor(num / 6);
  if (hour < 10){
    hour = "0"+hour;
  }
  var minute = num % 6 + "0";
  return hour+":"+minute;
}
var xdataHours = new Array();
for (var i =0; i <= 144; i++){
  xdataHours[i] = hourFormat(i);
}

// 指定图表的配置项和数据
showLoading();
$.post('/admin/data', {'flag':'base'}).done(function (data) {
  hideLoading();
  var resp = JSON.parse(data);
  console.log(resp);
  if (resp.Status != success){pushMessage(resp.Err.Level, resp.Err.Msg);return;}
  $('#todayPV').text(resp.Data.PV['today']);
  $('#yestodayPV').text(resp.Data.PV['yesterday']);
  $('#todayIP').text(resp.Data.IP['today']);
  $('#yestodayIP').text(resp.Data.IP['yesterday']);
  $('#todayUV').text(resp.Data.UV['today']);
  $('#yestodayUV').text(resp.Data.UV['yesterday']);

  PV.setOption({title:{text:"日点击趋势"},legend:{data:['今日PV','昨日PV']},xAxis:{data:xdataHours,axisLabel:{interval:5,rotate: 20,margin: 15}},series:[{name:'今日PV',type:'line',data:resp.Data.TimePV['today']},{name:'昨日PV',type:'line',data:resp.Data.TimePV['yesterday']}]});

  var china = new Array();
  for (var key in resp.Data.China){
    if (key != "N/A"){
      china.push(resp.Data.China[key]);
    }
  }
  var world = new Array();
  for (var key in resp.Data.World){
    world.push(resp.Data.World[key]);
  }
  // mapworld.setOption({title:{text:"访客中国地域"},legend:{data:['点击分布']},series:[{name:'点击分布'}]});
  mapchina.setOption({series:[{data:china}]});
  var html = '';
  if (resp.Data.Latest != null){
    for (var i = 0; i < resp.Data.Latest.length; i++){
      html += "<tr><td><a href='"+resp.Data.Latest[i].Referer+"'>"+ resp.Data.Latest[i].Referer.substring(0,30) +"...</a></td><td>"+resp.Data.Latest[i].URL+"</td><td>"+resp.Data.Latest[i].RemoteAddr+"</td><td>"+resp.Data.Latest[i].Time+"</td></tr>"
    }
  }
  $('#tbody-latest').html(html);
});
function showLoading(){
  PV.showLoading();
  mapchina.showLoading();
}

function hideLoading(){
  PV.hideLoading();
  mapchina.hideLoading();
}
</script>