{{template "admin/public/header.html" .}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改密码</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm" action="?">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名：</label>
                                <div class="col-sm-8">
                                    {{.username}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">名字：</label>
                                <div class="col-sm-8">
                                    {{.true_name}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">新密码：</label>
                                <div class="col-sm-8">
                                    <input id="password" name="password" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">确认密码：</label>
                                <div class="col-sm-8">
                                    <input id="confirm_password" name="confirm_password" class="form-control" type="password">
                                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 请再次输入您的密码</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{{template "admin/public/footer.html" .}}
    <!-- jQuery Validation plugin javascript-->
    <script src="{{.__theme__}}js/plugins/validate/jquery.validate.min.js"></script>
    <script src="{{.__theme__}}js/plugins/validate/messages_zh.min.js"></script>
    <script src="{{.__theme__}}js/plugins/layer/layer.min.js"></script>
    <script>
        $().ready(function () {
            // validate signup form on keyup and submit
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#signupForm").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 5
                    },
                    confirm_password: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    },
                },
                messages: {
                    password: {
                        required: icon + "请输入您的密码",
                        minlength: icon + "密码必须5个字符以上"
                    },
                    confirm_password: {
                        required: icon + "请再次输入密码",
                        minlength: icon + "密码必须5个字符以上",
                        equalTo: icon + "两次输入的密码不一致"
                    },
                },
                submitHandler: function(form)
                {
//                    加载层
                var loading = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                $.post(form.action,$(form).serialize(),function (data) {
                    layer.close(loading);
                    if(data.code==1){
                        //提示层
                        layer.msg('操作成功！');
                        setTimeout(function () {
                            window.location.reload()
                        },1500)
                    }else{
                        parent.layer.alert(data.info,{icon:2});
                    }
                },'json');
                    return false;
                }
            });
        });
    </script>
</body>
</html>
